body {
	font-family: Arial, sans-serif;
    opacity: 0.8;
}
h1{
    background-color: #FFFFFF;
    text-align: center;
}
.calculator {
	margin: 100px auto;
	width: 250px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

table {
	margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 5px;
	text-align: center;
	border: 1px solid #CCCCCC;
}

input[type="text"] {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #CCCCCC;
	font-size: 18px;
}

input[type="button"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}

input[type="button"]:hover {
	background-color: #CCCCCC;
}
